@import '_mixins'
@import '_parallax'
@import '_breakpoints'

// *** all the homepage styles are applied from this file ***
// (except navbar and footer)

// * common styles *
section
    position: relative
    width: 100%
    overflow: hidden

.cubes
    position: absolute
    width: 30vh
// end

// background layering
.about .bg-parallax,,
.timeline .bg-parallax
    z-index: -4
// end

// (homepage) section-wise imports
@import 'home/_home.landing'
@import 'home/_home.about'
@import 'home/_home.gallery'
@import 'home/_home.timeline'
@import 'home/_home.anusmriti'