@import '_mixins'
@import '_parallax'
@import '_breakpoints'

// *** this file has the styles for all the sections in the homepage ***

// * common styles *
section
    position: relative
    width: 100%
    overflow: hidden

.cubes
    position: absolute
    width: 30vh

// end

// background order
.about .bg-parallax,,
.timeline .bg-parallax
    z-index: -4
// end

.home
    height: 100vh

    .logo
        @include position_and("center auto")
        top: 5%
        height: 9.5vh
        opacity: 0.8

    .main
        @include position_and("center center")
        text-transform: uppercase
        text-align: center

        h1
            font-family: "Garamond"
            font-size: 5rem
            font-weight: 600
            word-spacing: 6rem
            line-height: 5rem
            text-shadow: 0 2px 30px rgba(0,0,0,1)

        h5
            margin-right: -0.45rem
            margin-bottom: 0.8rem
            font-size: 0.75rem
            font-weight: 600
            letter-spacing: 0.45rem
            line-height: 1.5rem
            text-shadow: 0 2px 6px rgba(0,0,0,1)

    .scroll-indic
        @include position_and("center auto", "translateY(-30px)")
        bottom: 5%
        height: 15px
        transition: all 0.3s 0.3s ease-in-out
        opacity: 0

// somehting ain't right with this section's positionings. have to fix this
.about
    height: 120vh
    padding: 0 25%

    .main
        @include position_and("center center", $type: "relative")
        max-width: 800px
    
    h1
        display: inline-block
        position: relative
        font-family: "Garamond"
        font-size: 4rem
        font-weight: normal
        margin-bottom: 3rem
        text-shadow: -3px 2px 14px black

        &::after
            content: ''
            display: block
            position: absolute
            bottom: 0
            left: -45px
            width: 80px
            height: 2px
            background-color: white
            box-shadow: -3px 2px 14px black

    p
        font-size: 0.9rem
        font-weight: 200
        text-align: justify
        letter-spacing: 0.2rem
        line-height: 1.6rem
        text-shadow: 0 3px 6px black
    
    .cubes.top-left
        top: 0
        left: 0
        transform: scale(-1,-1) translate(1vh, 1vh)
        opacity: 0.08
    
    .cubes.bottom-right
        top: 0
        right: 0
        transform: translate(0, 80vh)
        opacity: 0.08

.gallery
    height: 60vh

    .main
        display: inline-block
        @include position_and("center center")
        text-transform: uppercase
        text-align: center

        h1
            padding: 1rem 4rem
            font-family: "Garamond"
            font-size: 3rem
            font-weight: 600
            word-spacing: 2rem
            line-height: 3rem
            text-shadow: 0 2px 22px black
            border: 5px solid white
        
    .more
        position: relative
        float: right
        padding: 1rem 2rem
        background-color: white
        transform: translateY(-0.5px)
        transition: background-color 0.3s ease-out
        overflow: hidden

        .text
            display: inline-block
            font-family: "Garamond"
            font-size: 0.8rem
            color: rgb(36, 36, 36)
            letter-spacing: 0.25rem
            text-transform: capitalize
            transition: left 0.3s ease-in-out

        .arrow
            display: inline-block
            @include position_and("auto center", "translateX(-50%)")
            left: 150%
            height: 0.94rem
            transition: left 0.3s ease-in-out
            opacity: 0.8
            
        &:hover
            background-color: rgb(0, 25, 25) 

        &:hover .text
            left: -200%

        &:hover .arrow
            left: 50%

.timeline
    min-height: 100vh
    padding: 15% 20%

    // the green border on left
    &::before
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        width: 3vw
        height: 100%
        max-width: 30px
        background-image: url('../assets/images/rectC.svg')
        z-index: 1

    .main
        position: relative
        width: 100%

        h1
            display: inline-block
            position: relative
            font-family: "Garamond"
            font-size: 4rem
            font-weight: normal
            margin-bottom: 3rem
            text-shadow: -3px 2px 14px black

        // underline below the heading
        h1::after
            content: ''
            display: block
            position: absolute
            bottom: 0
            left: -45px
            width: 80px
            height: 2px
            background-color: white
            box-shadow: -3px 2px 14px black
        
    .event-container
        display: flex
        padding: 5% 0 0 5%
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start

    .event
        display: grid
        grid-template-columns: auto auto
        margin: 10vh 0

        .marker
            display: inline-block
            position: relative
            width: 20px
            height: 20px
            margin-right: 6vw
            align-self: center
            justify-self: left
            border: 3px solid white
            border-radius: 100%

            // the line from marker to the text
            &::after
                content: ''
                @include position_and("auto center")
                left: calc(100% + 3px)
                width: 0
                height: 2px
                background-color: white
                transition: width 0.2s ease-out

        &.active .marker::after
            width: 4vw

        .title
            justify-self: start
            font-size: 1.5rem
            letter-spacing: 1.2rem

        .desc
            justify-self: start
            max-width: 500px
            padding: 5% 0 0 10%
            grid-column: 2 / 3
            font-size: 0.9rem
            font-weight: 200
            text-align: justify
            letter-spacing: 0.2rem
            line-height: 1.6rem

    .more
        display: flex
        align-items: center
        float: right
        padding: 15% 0 0 0

        .text
            display: inline-block
            position: relative
            font-family: "Garamond"
            font-size: 0.8rem
            color: white
            letter-spacing: 0.25rem
            text-transform: capitalize

        .text::after
            content: ''
            display: block
            position: absolute
            left: 0
            bottom: -2px
            width: 0
            height: 1px
            background-color: white
            transition: width 0.2s ease
            opacity: 0.8

        &:hover .text::after
            width: 100%
        
        .arrow
            display: inline-block
            height: 0.94rem
            margin: 0 1rem
            opacity: 0.8

    .cubes
        display: block
        position: absolute
        width: 30vh
        user-select: none

        &.top-right
            top: 0
            right: 0
            width: 60vh
            transform: translate(1vh, -5vh)
            opacity: 0.06

        &.bottom-left
            top: 0
            left: 0
            transform: scale(-1,1) translate(-30px, 85vh)
            opacity: 0.08

        &.bottom-right
            top: 0
            right: 0
            transform: translate(0, 95vh)
            opacity: 0.1

.anusmriti
    display: grid
    grid-template-areas: "carousel text"
    grid-template-columns: 70% 30%
    position: relative
    width: 100%
    height: fit-content
    padding: 2%  
    background-color: #002020

    .cover-carousel
        grid-area: carousel
        position: relative
        height: 100%
        width: 100%
        margin: 10px 
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center

        .cover-slide
            height: 0px
            width: 0px
            position: relative
            z-index: 1
            opacity: 0
            cursor: pointer
            pointer-events: none
            transition: 1s
            
        
        .active
            height: auto
            width: 33%
            z-index: 3
            transform: scale(1) translateX(0)
            opacity: 1
            pointer-events: auto
            transition: 1s
        
        .prev
            height: auto
            width: 33%
            z-index: 2
            transform: scale(0.8) translateX(0)
            opacity: 0.6
            pointer-events: auto
            transition: 1s
        
        .next
            height: auto
            width: 33%
            z-index: 2
            transform: scale(0.8) translateX(0)
            opacity: 0.6
            pointer-events: auto
            transition: 1s
                

    .main
        display: flex
        flex-direction: column
        align-items: left
        grid-area: text
        position: relative
        height: 100%
        width: 100%
        margin: 10px
        padding: 5px
        padding-top: 50px
    

    h1
        display: inline-block
        position: relative
        font-family: "Garamond"
        font-size: 4rem
        font-weight: normal
        margin-bottom: 2rem
        text-shadow: -3px 2px 14px rgb(0, 0, 0)

    h2
        display: block
        position: relative
        font-family: "Garamond"
        font-size: 2.75rem
        font-weight: normal
        margin: 1rem 0rem
        text-shadow: -3px 2px 14px rgb(0, 0, 0)


    p
        font-size: 0.9rem
        font-weight: 200
        letter-spacing: 0.2rem
        line-height: 1.6rem
        text-shadow: 0 3px 6px rgb(0, 0, 0)

    .more
            display: flex
            position: relative
            justify-self: left
            float: left
            padding: 1rem 2rem
            transform: translateY(-0.5px)
            background-color: rgb(255, 255, 255)
            width: fit-content
            overflow: hidden
            transition: background-color 0.3s ease-out

            .text
                display: inline-block
                position: relative
                left: 0
                font-family: "Garamond"
                font-size: 0.8rem
                color: rgb(36, 36, 36)
                letter-spacing: 0.25rem
                text-transform: capitalize
                transition: left 0.3s ease-in-out

            .arrow
                display: inline-block
                position: absolute
                top: 50%
                left: 150%
                height: 0.94rem
                transform: translate(-50%, -50%)
                transition: left 0.3s ease-in-out
                opacity: 0.8

            &:hover
                background-color: rgb(0, 25, 25)

            &:hover .text
                left: -200%

            &:hover .arrow
                left: 50%


    .cubes
        display: block
        position: absolute
        width: 30vh

        &.top-left
            top: 0
            left: 0
            transform: scale(-1,-1) translate(1vh, 1vh)
            opacity: 0.1

        &.bottom-right
            top: 0
            right: 0
            opacity: 0.08
            transform: translate(0, 80vh)

//below 992px is col-md-sm
@media (max-width: $col-lg)
    .cover-carousel
        grid-area: carousel
        
    .main
        grid-area: text
        text-align: center
        align-items: center
    
    .anusmriti
        grid-auto-columns: 2fr 4fr
        grid-template-areas: "carousel carousel" "text text" 
