.navbar
    display: inline-flex
    margin: 1.1rem 0
    padding: 0.8em 0.9rem
    flex-direction: row
    justify-content: center
    align-items: center
    border: 3px solid transparent
    border-top-color: rgba(255, 255, 255, 0.35) 
    border-bottom-color: rgba(255, 255, 255, 0.35)

    .link
        display: inline-block
        padding: 0 0.8rem
        font-size: 0.84rem
        font-weight: 600
        letter-spacing: 0.25rem
        cursor: pointer
        text-shadow: 0 1px 14px rgb(0, 0, 0)
        transition: all 0.2s ease-in-out