@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Open+Sans:wght@400&display=swap');

body{
    margin: 0;
    max-width: 100vw;
    font-family: 'Montserrat';
    background-color: #F1FFF8;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    outline: none !important;
    max-width: 100%;
}