@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat';
    overflow-x: hidden;
    background-color: #F1FFF8;
}

*{
    box-sizing: border-box;
}