/* For the underlined */

.tab {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    max-width: 150px;
}

.hoverable {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}

.hoverable::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 20%;
    height: 3px;
    width: 100%;
    background-color: rgb(99, 91, 91);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.hoverable:hover::before,
.hoverable:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

#myNavbar :hover,
#myNavbar :focus,
#myNavbar :active {
    text-decoration: none;
}


/* Override the default bootstrap style */

#myNavbar :hover,
#myNavbar :focus,
#myNavbar :active {
    color: rgb(99, 91, 91);
    background-color: transparent;
}


/* For the toggle bar of the menu when the screen resized */

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 3.5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}