.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* For the underlined */

.navbar .tab {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    max-width: 150px;
}

.navbar .hoverable {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    color: white;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}

.navbar .hoverable::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 20%;
    height: 3px;
    width: 100%;
    background-color: rgb(99, 91, 91);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.navbar .hoverable:hover::before,
.navbar .hoverable:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.navbar #myNavbar :hover,
.navbar #myNavbar :focus,
.navbar #myNavbar :active {
    text-decoration: none;
}


/* Override the default bootstrap style */

.navbar #myNavbar :hover,
.navbar #myNavbar :focus,
.navbar #myNavbar :active {
    color: rgb(99, 91, 91);
    background-color: transparent;
}

#SAAR-logo-white {
    display: none;
    height: 90px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    #SAAR-logo-white {
        display: block;
    }
}


/* For the toggle bar of the menu when the screen resized */

.navbar .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar .hamRotate.active {
    transform: rotate(45deg);
}

.navbar .hamRotate180.active {
    transform: rotate(180deg);
}

.navbar .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 3.5;
    stroke-linecap: round;
}

.navbar .ham1 .top {
    stroke-dasharray: 40 139;
}

.navbar .ham1 .bottom {
    stroke-dasharray: 40 180;
}

.navbar .ham1.active .top {
    stroke-dashoffset: -98px;
}

.navbar .ham1.active .bottom {
    stroke-dashoffset: -138px;
}